# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# Optional coverage reports
coverage/

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# dotenv environment file backups
.env.*
!.env.example

# VSCode settings
.vscode/

# build output (if applicable)
dist/
build/